// kyotonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    kyotonight_simple {
        fg "#c0caf5"
        bg "#292e42"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#1a1b26"
        red "#cea1ae"
        green "#b4cea1"
        yellow "#f9e2af"
        blue "#8a9cc2"
        magenta "#c55484"
        cyan "#55c0e3"
        white "#a9b1d6"
        orange "#e5b799"
    }
}

