// kyotonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    kyotonight_old {
        fg "#8a9cc2"
        bg "#292e42"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#161617"
        red "#f38ba8"
        green "#b4cea1"
        yellow "#f9e2af"
        blue "#7aa2f7"
        magenta "#cba6f7"
        cyan "#7dcfff"
        white "#a9b1d6"
        orange "#e5b799"
    }
}

