(
  selected_tab: Some("#c55484"),
  command_fg: Some("#565f89"),
  selection_bg: Some("#292e42"),
  selection_fg: Some("#55c0e3"),
  cmdbar_bg: Some("#1a1b26"),
  cmdbar_extra_lines_bg: Some("#1a1b26"),
  disabled_fg: Some("#565f89"),
  diff_line_add: Some("#b4cea1"),
  diff_line_delete: Some("#cea1ae"),
  diff_file_added: Some("${green_bright}"),
  diff_file_removed: Some("${red_bright}"),
  diff_file_moved: Some("${magenta2}"),
  diff_file_modified: Some("#f9e2af"),
  commit_hash: Some("#c55484"),
  commit_time: Some("#55c0e3"),
  commit_author: Some("#b4cea1"),
  danger_fg: Some("#cea1ae"),
  push_gauge_bg: Some("#1a1b26"),
  push_gauge_fg: Some("#c0caf5"),
  tag_fg: Some("${magenta2}"),
  branch_fg: Some("#f9e2af")
)
