(
  selected_tab: Some("#cba6f7"),
  command_fg: Some("#565f89"),
  selection_bg: Some("#292e42"),
  selection_fg: Some("#7dcfff"),
  cmdbar_bg: Some("#1a1b26"),
  cmdbar_extra_lines_bg: Some("#1a1b26"),
  disabled_fg: Some("#565f89"),
  diff_line_add: Some("#b4cea1"),
  diff_line_delete: Some("#f38ba8"),
  diff_file_added: Some("#addad7"),
  diff_file_removed: Some("#eba0ac"),
  diff_file_moved: Some("#e91f70"),
  diff_file_modified: Some("#f9e2af"),
  commit_hash: Some("#cba6f7"),
  commit_time: Some("#d0e2e0"),
  commit_author: Some("#b4cea1"),
  danger_fg: Some("#f38ba8"),
  push_gauge_bg: Some("#1a1b26"),
  push_gauge_fg: Some("#c0caf5"),
  tag_fg: Some("#e91f70"),
  branch_fg: Some("#f9e2af")
)
